@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Karla", sans-serif;
}

main {
  background-color: #e6eff5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.container {
  height: 475px;
  width: 635px;
}

div.first_card {
  background-color: #ffffff;
  width: 635px;
  height: 216px;
  padding: 40px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  h3 {
    color: #c0df33;
    margin-top: 24px;
    margin-bottom: 11px;
  }
  p {
    color: #9aa7be;
    letter-spacing: -0.2px;
    line-height: 26px;
  }
}

div.blue {
  display: flex;
}

div.second_card {
  width: 318px;
  height: 259px;
  background-color: #2ab3b1;
  padding: 40px;
  border-bottom-left-radius: 8px;

  h3,
  span.number,
  p {
    color: #ffffff;
  }
  span {
    color: #95d9d8;
    letter-spacing: -0.2px;
  }

  span.number {
    font-size: 32px;
    letter-spacing: -0.4px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.2px;
    margin-top: 4px;
    margin-bottom: 26px;
  }
  h3 {
    margin-bottom: 18px;
  }
}

div.third_card {
  width: 318px;
  height: 259px;
  background-color: #4bbfbd;
  padding: 40px;
  border-bottom-right-radius: 8px;

  h3 {
    color: #ffffff;
    margin-bottom: 18px;
  }
  p {
    color: #d2efee;
    font-size: 14px;
    letter-spacing: -0.17px;
    line-height: 20px;
    font-weight: 400;
  }
}

h2 {
  color: #2ab3b1;
  font-size: 24px;
}

h2,
h3,
span.number {
  font-weight: 700;
}

h3 {
  font-size: 18px;
  letter-spacing: -0.22px;
}

button {
  width: 237px;
  height: 48px;
  border-radius: 5px;
  background-color: #c0df33;
  border: none;
  color: #ffffff;
  box-shadow: 0px 15px 30px 0px #0051ab26;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.2px;
}
